<article class="app">
  <section class="app-card-carousel" *ngIf="selectedCard < 0">
    <ng-container *ngFor="let image of images; let index = index">
      <img class="app-card-carousel__thumbnail" src="assets/{{image}}.png" (click)="selectCard(index)" alt="logo">
    </ng-container>
  </section>

  <section class="app-card-selected-wrapper" *ngIf="selectedCard >= 0">
    <div class="app-card-selected">
      <em class="fas fa-times app-card-selected__close" (click)="selectCard(-1)"></em>
      <img class="app-card-selected__image" src="assets/{{images[selectedCard]}}.png" alt="logo">
    </div>

  </section>
</article>


<footer class="footer">
  Made with <span class="footer-heart">&hearts;</span> by Guillermo Loaysa
</footer>

